[submodule "lib/RWM1819-Menu-B"]
	path = lib/RWM1819-Menu-B
	url = https://github.com/itcgames/RWM1819-Menu-B
[submodule "lib/RWM1819-Particle-A"]
	path = lib/RWM1819-Particle-A
	url = https://github.com/itcgames/RWM1819-Particle-A
[submodule "lib/RWM1819-Asset-A"]
	path = lib/RWM1819-Asset-A
	url = https://github.com/itcgames/RWM1819-Asset-A
[submodule "lib/RWM1819-Gesture-B"]
	path = lib/RWM1819-Gesture-B
	url = https://github.com/itcgames/RWM1819-Gesture-B
[submodule "lib/RWM1819-Scoreboard-A"]
	path = lib/RWM1819-Scoreboard-A
	url = https://github.com/itcgames/RWM1819-Scoreboard-A
