body{
   overflow:hidden;
  }

html {
  margin: 0;
  padding: 0;
}
canvas{
  background-color: #000000;
}

button {
    font-family: Kalam, serif;
    font-size: 40px;
    outline: none;
    border: none;
}

button:focus {
    outline: none;
}

button:after {
    right: -.25em;
}


 #myProgress {
    width: 100%;
    background-color: black;
    text-align: center; /* To center it horizontally (if you want) */
    line-height: 30px; /* To center it vertically */
  } 
  
  #myBar {
    width: 0;
    height: 30px;
    background-color: orange;
    text-align: center; /* To center it horizontally (if you want) */
    line-height: 30px; /* To center it vertically */
    color: white; 
    position: relative;
}

#myLoadingText {
    width: 100%;
    height: 30px;
    text-align: center; /* To center it horizontally (if you want) */
    line-height: 30px; /* To center it vertically */
    color: white; 
    position: relative;
}

@font-face {
    font-family: 'Hyperspace';
    src: url('../assets/fonts/hyperspace/Hyperspace.otf');
}